* {
       font-family: Circular Std;
      scroll-behavior: smooth;
}

html{
    overflow-x: hidden;
}

a.mails{
    color: white;
    text-decoration: none;

}

body {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
}

img.img-fluid.headerlogo{
    width: 90px;
}

textarea.text-input.input{
    font-size: 18px;
        line-height: 33px;
        color: #242424;
        padding: 8px 10px 5px;
        width: 100%;
        border: none;
        outline: none;
        height: 180px;
        border-bottom: 2.77px solid #e5e5e5;
        transition: .5s ease-in-out;
}

.circle1 {
    width: 80px;
    height: 75px;
    background-color: #F3D4D2;
    border-radius: 50%;
}

.icon2 {
    position: relative;
    left: -160px;
}

.horizontal {
    margin-top: 15px;
    border-bottom: 1px solid #C4C4C480;
}

.spacing.row {
    margin-top: 105px;
}

input#name {
    text-indent: 10px;
    border: 1px solid #C4C4C4;
    width: 246px;
    height: 45px;
}

input#names {
    text-indent: 10px;
    border: 1px solid #C4C4C4;
    width: 320px;
    height: 45px;
}

input.PhoneInputInput {
    text-indent: 10px;
    border: 1px solid #C4C4C4;
    width: 246px;
    height: 45px;
}

input#email {
    text-indent: 10px;
    border: 1px solid #C4C4C4;
    width: 246px;
    height: 45px;
}

textarea {
    max-width: 100%;
    text-indent: 10px;
    border: 1px solid #C4C4C4;
}

.bg2 {
    background: linear-gradient(119.18deg, rgba(217, 97, 34, .5) 0%, rgba(217, 97, 34, .2) 50%);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.question {
    color: var(--para, #00142D);
    text-align: center;
       font-family: Circular Std;


    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

nav.nav {
    border-bottom: 1px solid #C4C4C480;
}

.icon1 {
    position: relative;
    left: -180px;
}

.conter {
    background-color: #00142D;
    font-size: 35px;
    color: white;
    padding: 30px;
}

.conters {
    background: linear-gradient(54deg, #0669F7 0%, #0052C7 100%);
    font-size: 35px;
    color: white;
    padding: 30px;
    height: 270px;
}

.imag1 {
    margin-top: -100px;
}

.div-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.width-div {
    width: 100px;
    background-color: black;
}

.image-div {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Image/01.png);
    margin-left: -100px;
    margin-top: -15px;
}

.image-div1 {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Image/02.png);
    margin-left: -100px;
    margin-top: -15px;
}

.counter {
    text-align: center;
}

.image-div2 {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Image/03.png);
    margin-left: -100px;
    margin-top: -15px;
}

.image-div3 {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Image/04.png);
    margin-left: -100px;
    margin-top: -15px;
}

.image-div4 {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/Image/05.png);
    margin-left: -100px;
    margin-top: -15px;
}

.dic {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.dics {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.end-div {
    text-align: end;
}

.dica {
    width: 350px;
    display: flex;
    justify-content: center;
}

.image-text-div {
    width: 70px;
    height: 70px;
    background-image: url(assets/Image/testimonial1.jpeg);
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-top: -60px;
}

.image-text-div1 {
    width: 70px;
    height: 70px;
    background-image: url(assets/Image/testimonial2.jpeg);
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-top: -60px;
}

.image-text-div2 {
    width: 70px;
    height: 70px;
    background-image: url(assets/Image/testimonial3.jpeg);
    background-size: cover;
    border-radius: 50%;
    background-position: center;
    margin-top: -60px;
}

.bg-color-componet {
    background-color: #0669F7;
}

.Grop {
    width: 100%;
    height: auto;
    background-image: url(assets/Image/Group.png);
    background-position: center;
    background-size: cover;
    padding: 40px 20px 60px 20px;
}

.footer-div {
    width: 100%;
    background-color: #00142d;
    color: white;
    /* padding: 30px 20px;
     */
}

.footer-div-image1 {
    width: 100%;
    background-image: url(assets/Image//Vector\ 2\ \(1\).png);
    background-position: center;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.Grop.text-light {
    height: 320px;
}

.footer-div-image2 {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-image: url(assets/Image/Vector\ 3\ \(1\).png);
    background-position: center;
    background-size: cover;
}

.message {
    position: relative;
    width: 1170px;
    height: 500px;
    background: white;
    bottom: 60px;
    box-shadow: 0px 35px 35px 0px rgba(0, 0, 0, 0.05);
}

.Info {
    color: #707070
}

.input.feedback {
    color: red;
}

.web {
    color: #707070;
    font-size: 20px;
}

.services {
    border-color: #707070
}

a.nav-link {
    margin-right: 15px;
}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;
}

button#headlessui-combobox-button-\:r3\: {
    content: "V";
}


.contactbg{
    background: url("https://firebasestorage.googleapis.com/v0/b/test-15878.appspot.com/o/Images%2Fimage%2018.png?alt=media&token=0ba743ff-9d5e-498a-b51e-5707bb8a12a2");
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    background-size: cover;
}

h1.contact{
    color: var(--para, #00142D);
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
}


input#forms {
    font-size: 18px;
    line-height: 33px;
    color: #242424;
    padding: 8px 10px 5px;
    width: 100%;
    border: none;
    outline: none;
    border: 2.77px solid #e5e5e5;
    transition: .5s ease-in-out;
}

@font-face {
       font-family: Circular Std;


    src: url(../public/circular-std-medium-500.ttf), url(../public/CircularStd-Bold.ttf), url(../public/CircularStd-Bold1.ttf);
}

svg.h-5.w-5 {
    display: none;
}

@media screen and (max-width:992px) {
    .circle1 {
        display: none;
    }

    h2.contact {
        margin-left: 30px;
    }

    h5.idea {
        text-align: center;
    }

    .circle {
        display: none;
    }

    .dics {
        margin-top: 40px;
    }

    .icon2 {
        position: relative;
        left: -160px;
    }

    .icon1 {
        position: relative;
        left: -180px;
    }

    .div-container {
        text-align: center;
        display: flex;
        justify-content: center;
    }
}

/* ------------------------hire page------------------------------------- */
h1.hire {
    font-size: 47px;
    font-weight: 800;
}

p.para {
    word-spacing: 10px;
    font-size: 17px;
    line-height: 30px;
}

ul {
    list-style-image: url(.//assets/Image/check.png);
}

.mainss {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 16px;
    padding: 15px;
}

.fulltime {
    position: relative;
    left: 40%;
}

.dream {
    padding: 52px 30px;
    box-shadow: 0 0 48px rgb(0 0 0/10%);
}

.dreams {
    padding: 14px 30px;
    box-shadow: 0 0 48px rgb(0 0 0/10%);
}

h6.recomended {
    background: #0c6efd;
    position: relative;
    bottom: 29px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 250px;
    color: white;
    padding-right: 8px;
    padding-left: 8px;
}

.hiring {
    padding: 34px 27px;
    border: 2px solid #d9d9d9;
}

.row.formargin {
    margin-top: 75px;
}

p.expert {
    position: relative;
    right: 20px;
    top: 5px;
}

input#form {
    font-size: 18px;
    line-height: 33px;
    color: #242424;
    padding: 8px 10px 5px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 2.77px solid #e5e5e5;
    transition: .5s ease-in-out;
}

.test {
    padding: 30px;
    background: #ededed;
    border-radius: 18px;
}

.bg-image {
    background: url("https: //firebasestorage.googleapis.com/v0/b/test-15878.appspot.com/o/Images%2Fbackground%20(1)%20(1)%20(1).png?alt=media&token=f6f500c7-128a-4cd8-bfe1-8890e53064fb") no-repeat center center;
    width: 100%;
    background-size: cover;
    background-position: 50% 10%;
    height: 900px;
}

.overlay {
    background: url(./assets/Image/overlay.png) no-repeat center center;
    width: 100%;
    height: 900px;
    background-size: cover;
}

p.solutions {
    color: var(--white, #FFF);
       font-family: Circular Std;


    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 255px;
}

.backgrounds {
    background-image: url(./assets/Image/backgroundservice.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
}

.backgrounds2 {
    background-image: url(./assets/Image/backgroundservice2.png);
    width: 100%;
    height: 660px;
    background-repeat: no-repeat;
}

h6.unlock {
    color: var(--white, #FFF);
         font-family: Circular Std;



    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

button.contact {
    width: 170px;
    height: 55px;
    font-size: 20px;
}

h6.human {
    color: #0669F7;
         font-family: Circular Std;



    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p.secret {
    color: var(--white, #FFF);
         font-family: Circular Std;



    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

button.findout {
    background-color: #00142D;
    color: white;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 15px;
}

.works {
    background-color: #00142D;
    width: 100%;
    padding: 80px 20px;
}

p.texts {
    color: var(--white, #FFF);
       font-family: Circular Std;


    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 180%;
}

.background-work {
    background: #00142D;
    height: 550px;
    width: 100%;
}

.make {
    background-color: #0669F7;
    width: 100%;
    height: auto;
    padding: 90px 55px;
}

button.us {
    padding: 15px 35px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
}

.hiringss {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bgimage {
    background: url("https://firebasestorage.googleapis.com/v0/b/test-15878.appspot.com/o/Images%2Faboutis%20(1).png?alt=media&token=4ab857af-0e71-48f2-8714-0ebcc87da64e");
    width: 100%;
    height: 650px;
    background-size: cover;
}


a.abc{
    color: white;
    text-decoration: none;
}

@media screen and (max-width:390px) {

    input.PhoneInputInput {
            text-indent: 10px;
            border: 1px solid #C4C4C4;
            height: 45px;
            margin-left: 15px !important;
        }
    }

@media screen and (max-width:768px) {

    input.PhoneInputInput{
 margin-left: 30px;   
}

.col-lg-4.centerrr.mt-3{
    text-align: center;
}

    h1.fw-bold {
            font-size: 40px;
        }
    .circle1 {
        display: none;
    }

    h1.fw-bold {
        margin-top: 55px;
    }

    .phno.p-3 {
        position: relative;
        right: 21px;
    }

    textarea {
        width: 250px;
    }

    .center {
     text-align: center;
    }

    .dica {
        width: 320px;
        display: flex;
        justify-content: center;
    }

    .Info {
        width: 240px;
    }

    .text-div {
        text-align: center;
    }

    .dic {
        text-align: center;
    }

    .end-div {
        text-align: center;
    }

    .width-div {
        text-align: center;
        margin: auto;
    }

    p.ipsum {
        text-align: center;
    }

        .conters {
            background: linear-gradient(54deg, #0669F7 0%, #0052C7 100%);
            font-size: 35px;
            color: white;
            padding: 30px;
            height: 550px;
        }
}

@media screen and (max-width:768px) {

    .backgrounds {
            background-image: url(./assets/Image/backgroundservice.png);
            width: 100%;
            height: 750px;
            background-repeat: no-repeat;
        }

    .message {
            height: 650px;
        }
    }

@media screen and (max-width:992px) {
    .test {
        margin-top: 20px;
    }

    img.chairs {
        margin: auto;
    }

    .dream {
        margin-bottom: 12px;
    }

    .aligns {
        text-align: center;
        display: flex;
        align-items: center;
    }

    img.mt-5.ms-auto.rounded-5 {
        display: none;
    }

    .background-work {
        padding-top: 35px;
        height: 450px;
    }

    p.ipsum {
        text-align: center;
    }

                .center {
                    text-align: center;
                }

    h1.ipsum {
        text-align: center;
    }

    .conters {
        background: linear-gradient(54deg, #0669F7 0%, #0052C7 100%);
        font-size: 35px;
        color: white;
        padding: 30px;
        height: 650px;
    }

    .overlasy {
        display: none;
    }
}

@media screen and (max-width:576px) {
    h1.fw-bold{
        font-size: 40px;
    }

    h1.designs{
        font-size: 30px;
    }

    p.create{
        font-size: 15px;
    }

    img.job{
        margin-top: 20px;
    }
    .Grop.text-light {
        height: 500px
    }

    p.ipsum {
        text-align: center;
    }

    img.chairs {
        margin: auto;
    }

    h1.ipsum {
        text-align: center;
    }

    h1.fw-bold {
        margin-top: 55px;
    }

    .center {
      text-align: center;
    }

    .message {
        height: 750px;
    }

    .backgrounds {
        background-image: url(./assets/Image/backgroundservice.png);
        width: 100%;
        height: auto;
    }
       

    p.solutions {
        color: var(--white, #FFF);
           font-family: Circular Std;


        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 255px;
    }

    h6.unlock {
        color: var(--white, #FFF);
   font-family: Circular Std;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    .aligns {
        text-align: center;
        display: flex;
        align-items: center;
    }

    img.mt-5.ms-auto.rounded-5 {
        display: none;
    }

    .hiringss {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .background-work {
        padding-top: 35px;
        height: 550px;
    }
        p.text-primary.mb-4{
            text-align: center;
        }
h1.amazing{
    text-align: center;
}
    .centering {
        text-align: center;
    }
}


